body {
    font-family: sans-serif;
}

main {
    margin: auto;
}

/* https://www.w3schools.com/howto/howto_js_alert.asp */

.alert-bad {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alert-warning {
    padding: 20px;
    background-color: #ff9800;
    color: white;
}

.alert-good {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.alert-closebtn {
    border: none;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-closebtn:hover {
    color: black;
}

/* ################################################### */

/* Tablet */

@media (min-width: 600px) {
    main {
        max-width: 700px;
    }
}

/* PC */

@media (min-width: 1025px) {
    main {
        max-width: 80%;
    }
}