td, th {
    border: 1px solid var(--bg-color-2);
    padding: 8px;
}

tr:nth-child(even) {
    background-color:var(--bg-color-2);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:var(--acc-2);
    color: white;
}

.btn{
    background-color: var(--acc-3-d);
}
.btn:hover, .btn:focus {
    background-color: var(--acc-3);
}