.btnFirst {
    background-color: var(--acc-3);
    color: var(--light-color);
}

.btnSec {
    background-color: var(--acc-2);
    color: var(--light-color);
}

#inputForm {
    position: fixed;
    height: 100px;
    bottom: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    background-color: var(--dark-color);
    z-index: 100;
}

#tweetTimeline {
    margin-bottom: 100px;
}

.tweet {
    background-color: var(--dark-color-2);
    padding: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}