.blockChildren *{
    margin: auto;
    display: block;
}

.centerButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectedImage{
    border: 2px solid blue;
    box-shadow:0px 12px 22px 1px #333;
 }

 img{
     max-width: 151px;
 }

 aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
 }